{% extends 'base.html' %}

{% block content %}
<div class="horizontal-wrapper">
    <div class="content-area">
    <article class="menu">
        <h2>Log in</h2>
        <p>Please enter your username and password to log in.</p>
        <form method="post">
            <label for="username">Username</label>
            <input name="username" id="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <input type="submit" value="login">
        </form>
    </article>
    </div>
</div>
    {% endblock %}