:root {
    --main-bg-color: #d4d4d4;
    --main-element-color: #dddddd;
}

html {
    font-family: sans-serif;
    height: 100%;
    overflow-y: scroll;
}

body {
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(27,27,27,1) 15%, rgba(255,237,209,1) 100%);
    font-size: 100%;
    display: flex;
    height: 100%;
    margin: 0;
    overflow-y: scroll;
}

header, .boxes {
    box-shadow: 0px 5px 3px rgb(112, 110, 129, 0.5);
}

.bg-wrapper:before {
    content: ' ';
    display: block;
    position: fixed;
    background-image: url('background1.jpg');
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.1;
    background-repeat: repeat;
    z-index: -1;
    margin: 0;
}

/****** GREAT WALL HEADER ******
--------------------------------
|  This sectoion contains the  |
|  CSS for the header section  |
|  with the address, phone num,|
|  hours, etc.                 |
--------------------------------
********************************/

#header {
    margin: 1em;
    /*grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 1;*/
    text-align: center;
    background-color: var(--main-element-color);
    width: 20em;
    height: fit-content;
    padding: 1em;
}

#logo {
    margin: auto;
    width: 90%;
    margin-bottom: -.5em;
}

#mast h2 {
    font-size: 1em;
    font-style: italic;
    margin-bottom: -.5em;
}

#address p {
    margin: 0 0;
}

#address > p:nth-child(1) {
    color: red;
    font-weight: bolder;
}

#address > p:nth-child(3),
#address > p:nth-child(4){
    font-weight: bolder;
}

address {
    margin-top: 2em;
}

#call {
    max-width: fit-content;
    max-height: 100px;
    margin: auto auto 0;
    margin-top: 2em;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    padding: 0 6px;
}

#call p:nth-child(2) {
    font-weight: bolder;
    margin: .15em;
}

#call p:nth-child(3) {
    font-weight: bolder;
    margin: .15em;
    margin-bottom: .25em;
}

#please-call {
    font-weight: 400;
    width: 8em;
    margin: auto;
    margin-top: -.65em;
    background-color: var(--main-element-color);
}

#party {
    margin: 2em;
    font-style: italic;
    font-weight: bolder;
}

#hours p {
    margin: 0;
}

#hours {
    margin: 2em 0 5em;
}

/************ MENUS ************
--------------------------------
|  This sectoion contains the  |
|  CSS for the menu section    |
|  with the different orders,  |
|  specials, etc.              |
--------------------------------
********************************/

.content-area {
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-element-color);

    /* Center the element horizontally and vertically */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Set the size of the element */
    width: 80%; /* Adjust the width as per your requirement */
    max-width: 600px; /* Set a maximum width to prevent the element from becoming too large */
}

#create-tab #delete-tab #edit-tab {
    margin: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
}

.existing_category {
    display: none;
}

.boxes {
    margin: 1em;
    background-color: var(--main-element-color);
    width: 20em;
    padding: 1em;
}

.editor-boxes {
    background-color: var(--main-element-color);
    height: fit-content;
    padding: 1em;
    display: block;
}

/* This is used to select all form elements in the articles. */
article.editor-boxes form {
    display: flex;
    flex-direction: column;
}

#create > fieldset {
    width: 5em;
    text-align: left;
}

/* This is used to position the labels on top of the inputs. */
article.editor-boxes label {
    order: -1;
}

/* This will style all input and select elements to take up the full width of the form. */
article.editor-boxes input,
article.editor-boxes select {
    width: 100%;
}

/* This will add a little bit of space between each form control for better readability. */
article.editor-boxes label,
article.editor-boxes input,
article.editor-boxes select {
    margin-bottom: 10px;
}

#create {
    display: block;
    width: fit-content;
}

.editor-menu {
    display: block;
}

.boxes h2{
    text-align: center;
}

.items {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.items p {
    display: inline;
    padding-bottom: .25em;
    border-bottom: 1.5px dashed black;
}

.code {
    grid-column-start: 1;
    margin-left: 1em;
}

.dish {
    grid-column-start: 2;
    margin-left: -3em;
}

.price {
    grid-column-start: 3;
    max-width: max-content;
}

.menu input, .menu label {
    display: block;
}

#buttons {
    margin: 0;
    background-color: var(--main-element-color);
    display: flex;  /* display items in a row */
    justify-content: space-between;  /* add some space between the items */
}

#buttons p {
    margin: 1em;
    font-weight: bolder;
    font-size: x-large;
}

#buttons .tab {
    transition: color 0.5s ease;  /* animate color changes */
    color: #bbbbbb;  /* initial text color */
    cursor: pointer;  /* change cursor to pointer on hover */
}

.tab-active {
    color: #000000; /* text color for the active tab */
}

#buttons .tab:hover {
    color: black;  /* text color when hovered */
}


#create-tab {
    display: block;
}

#edit-tab {
    display: none;
}

#delete-tab {
    display: none;
}

/************ AUTH *************
--------------------------------
|  This sectoion contains the  |
|  CSS for the AUTH sections,  |
|  i.e. the register, log in,  |
|  and password reset views.   |
--------------------------------
********************************/

.auth {
    padding: 1em;
    display: flex;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: var(--main-element-color);
}

#manager-link a {
    color: red;
    text-transform: uppercase;
    position: fixed;
    z-index: 2;
    right: 0;
    padding: .5em;
    background-color: var(--main-element-color);
    box-shadow: 0px 5px 3px rgb(112, 110, 129, 0.5);
}