:root {
    --main-bg-color: #d4d4d4;
    --main-element-color: #dddddd;
}

html {
    font-family: sans-serif;
    height: 100%;
    overflow-y: auto;
}

body {
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(27,27,27,1) 15%, rgba(255,237,209,1) 100%);
    font-size: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    overflow-y: scroll;
}

header, .boxes {
    box-shadow: 0px 5px 3px rgb(112, 110, 129, 0.5);
}

.bg-wrapper:before {
    content: ' ';
    display: block;
    position: fixed;
    background-image: url('background1.jpg');
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.1;
    background-repeat: repeat;
    z-index: -1;
    margin: 0;
}

.bg-wrapper{
    display: block;
    position: fixed;
    z-index: -1;
}

/****** GREAT WALL HEADER ******
--------------------------------
|  This sectoion contains the  |
|  CSS for the header section  |
|  with the address, phone num,|
|  hours, etc.                 |
--------------------------------
********************************/

#header {
    position: relative;
    margin: 1em auto;
    text-align: center;
    background-color: var(--main-element-color);
    width: fit-content;
    height: fit-content;
    padding: 1em;
    grid-column-start: 1;
    grid-column-end:  2;
}

#logo {
    margin: auto;
    width: 90%;
    margin-bottom: -.5em;
}

#mast h2 {
    font-size: 1em;
    font-style: italic;
    margin-bottom: -.5em;
}

#address p {
    margin: 0 0;
}

#address > p:nth-child(1) {
    color: red;
    font-weight: bolder;
}

#address > p:nth-child(3),
#address > p:nth-child(4){
    font-weight: bolder;
}

address {
    margin-top: 2em;
}

#call {
    max-width: fit-content;
    max-height: 100px;
    margin: auto auto 0;
    margin-top: 2em;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    padding: 0 6px;
}

#call p:nth-child(2) {
    font-weight: bolder;
    margin: .15em;
}

#call p:nth-child(3) {
    font-weight: bolder;
    margin: .15em;
    margin-bottom: .25em;
}

#please-call {
    font-weight: 400;
    width: 8em;
    margin: auto;
    margin-top: -.65em;
    background-color: var(--main-element-color);
}

#party {
    margin: 2em;
    font-style: italic;
    font-weight: bolder;
}

#hours p {
    margin: 0;
}

#hours {
    margin: 2em 0 5em;
}

/************ MENUS ************
--------------------------------
|  This sectoion contains the  |
|  CSS for the menu section    |
|  with the different orders,  |
|  specials, etc.              |
--------------------------------
********************************/

/* This is for the admin area editor*/
.content-area {
    margin: 1em 50% 1em 50%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-element-color);

    /* Set the size of the element */
    width: 100%; /* Adjust the width as per your requirement */
}

#create-tab #delete-tab #edit-tab {
    margin: 1em;
}

.menu {
    grid-column-start: 2;
    grid-column-end: 4;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
}

.existing_category {
    display: none;
}

.cards {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    background: linear-gradient(
        to bottom,
        var(--main-element-color) 85%,
        #999999);
    border-radius: 0px 0px 10px 10px;
    width: 22em;
    height: 20em;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
    box-shadow: 0px 5px 3px rgb(112, 110, 129, 0.5);
    cursor: pointer;
    padding: 0 2em;
}

.cards h2{
    text-align: center;
}

.items{
    display: flex;
    border-bottom: #000000 dashed 1px;
}

.items p{
    margin: 1em;
}

p.price{
    margin-left: auto;
    text-align: right;
}

/* Apply the animation on hover */
.cards:hover {
    transform: scale(1.02);
}

.card-expanded h2{
    text-align: center;
}

.card-expanded{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: linear-gradient(
        to bottom,
        #c9c9c9,
        var(--main-element-color) 5% 85%,
        #999999);
    overflow: scroll;
    z-index: 10;
}

/* Admin area editor menu */

.editor-menu {
    background-color: var(--main-element-color);
    display: block;
    margin: auto;
    padding: 1em;
    width: 80vw;
}

.editor-boxes {
    background-color: var(--main-element-color);
    height: fit-content;
    padding: 1em;
    display: block;
}

/* This is used to select all form elements in the articles. */
article.editor-boxes form {
    display: flex;
    flex-direction: column;
}

form#create,
form#delete,
form#edit {
    display: flex;
    flex-direction: column;
    width: auto;
}

#create > fieldset {
    width: auto;
    text-align: left;
    display: inline-block;
    margin-bottom: 1em;
}

input[type="checkbox"],
label {
    display: inline-block;
    vertical-align: middle;
}

.toggle {
    padding: 0;
    margin: 1em;
    width: 2em;
}

#category, #existing_category{
    display: none;
}

#category,
#existing_category,
#item_container,
#add_item {
    margin-bottom: 1em;
}

[name="code"],
[name="dish"],
[name="price"],
[name="save"] {
    margin-bottom: 1em;
}

/* This is used to position the labels on top of the inputs. */
article.editor-boxes label {
    order: -1;
}

/* This will style all input and select elements to take up the full width of the form. */
article.editor-boxes input,
article.editor-boxes select {
    width: 100%;
}

/* This will add a little bit of space between each form control for better readability. */
article.editor-boxes label,
article.editor-boxes input,
article.editor-boxes select {
    margin-bottom: 10px;
}

#create {
    display: block;
    width: fit-content;
}

.menu input, .menu label {
    display: block;
}

#buttons {
    margin: 0;
    background-color: var(--main-element-color);
    display: flex;  /* display items in a row */
    justify-content: space-between;  /* add some space between the items */
}

#buttons p {
    margin: 1em;
    font-weight: bolder;
    font-size: x-large;
}

#buttons .tab {
    transition: color 0.5s ease;  /* animate color changes */
    color: #bbbbbb;  /* initial text color */
    cursor: pointer;  /* change cursor to pointer on hover */
}

#buttons .tab-active {
    color: #000000; /* text color for the active tab */
}

#buttons .tab:hover {
    color: black;  /* text color when hovered */
}

#create-tab {
    display: block;
}

#edit-tab {
    display: none;
}

#delete-tab {
    display: none;
}

/************ AUTH *************
--------------------------------
|  This sectoion contains the  |
|  CSS for the AUTH sections,  |
|  i.e. the register, log in,  |
|  and password reset views.   |
--------------------------------
********************************/

.admin {
    margin: auto;
    padding: 1em;
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: var(--main-element-color);
}

#manager-link a {
    grid-row-start: 0;
    grid-row-end: 1;
    color: red;
    text-transform: uppercase;
    position: fixed;
    z-index: 2;
    top: 1em;
    right: 0;
    padding: .5em;
    background-color: var(--main-element-color);
    box-shadow: 0px 5px 3px rgb(112, 110, 129, 0.5);
}

/********** FOOTER *************
--------------------------------
|  This sectoion contains the  |
|  CSS for the Foot section.   |
--------------------------------
********************************/

footer{
    display: none;
    position: static;
    background: black;
    text-align: center;
    width: 100vw;
    bottom: 0;
    grid-row-start: -1;
}

@media (min-width: 900px) {
    body{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #header {
        position: fixed;
        margin: 1em 2em; 
    }

    .card-expanded{ 
        position: fixed;
        width: 70vw;
        height: 80vh;
        margin: 2em 0em;
        left: unset;
        box-shadow: 0em 10em 100em black;
        transform: scale(1,1);
        padding: 0 2em;
    }
}

@media (min-width: 1200px) {
    body{
        display: grid;
        grid-template-rows: 10vw 1fr;
        grid-template-columns: 32vw 1fr;
    }
    
    .menu{
        grid-column: 2/4;
    }
}

@media (min-width: 1400px) {
    body{
        grid-template-columns: 25vw 1fr;
}

@media (min-width: 1660px) {
    body{
        grid-template-columns: 22vw 1fr;
    }
    .cards{
        margin: 1em 1em;
    }
}
/*@media (max-width: 900px) {
    body {
        display: flex;
        flex-direction: column;
        }

    #header {
        position: relative;
        margin: 1em auto;
    }

    .cards {
        margin: 1em auto;
    }

    .card-expanded {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;

    }
}

@media (min-width: 900px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #header {
        position: fixed;
    }

    .menu {
        grid-column-start: 2;
        position: relative;
        display: block;
        justify-items:center;
        margin: auto;
    }
}

@media (min-width: 1200) {
    body{
        display: grid;
        grid-template-rows: 10vw 1fr;
        grid-template-columns: 20vw 1fr;
        height: 100%;
        margin: 0;
    }
}*/
