{% extends 'base.html' %}

{% block content %}
<div class="horizontal-wrapper">

    
    <main class="editor-menu">
        <div class="content-area">
            <nav id='buttons'> 
                <p id='btn1' class="tab tab-active">Create</p>
                <p id='btn2' class="tab">Delete</p> 
                <p id='btn3' class="tab">Edit</p> 
            </nav>
            
        <article class="editor-boxes" id="create-tab">
            <h1 id="heading-tab"></h1>
            <form id="create" method="post">
                <fieldset id="new_or_existing">
                    <legend>New or Existing Category?</legend>
                    <label for="new_category_toggle">New</label>
                    <input type="checkbox" name="new_category_toggle" id="new_category_toggle" checked>
                    <label for="existing_category_toggle">Existing</label>
                    <input type="checkbox" name="existing_category_toggle" id="existing_category_toggle" />
                </fieldset>                
                <label for="category">Menu Title</label>
                <input name="category" id="category" />
                <select name="existing_category" id="existing_category">
                    {% for menu in menus %}
                    <option value="{{ menu['category'] }}">{{ menu['category'] }}</option>
                    {% endfor %}
                </select>
                <label for="code">Code</label>
                <input name="code" required />
                <label for="dish">Name</label>
                <input name="dish" required />
                <label for="price">Price</label>
                <input name="price" required />
                <div id="item_container">
                </div>
                <input type="submit" name="save" value="save" />
            </form>

            <button id="add_item">Add Menu Item</button>
        </article>
        <article class="editor-boxes" id="delete-tab">
            <h1 id="heading-tab"></h1>
            <form id="delete" method="post">
                {% for item in items %} 
                    {% for menu in menus %}
                        {% if item['category'] == menu['category'] %}
                        <input type="checkbox" name="items_to_delete" value="{{ item['id'] }}">
                        <p> {{ item['code'] }} | {{ item['dish'] }} | {{ item['price'] }}</p>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <input type="submit" name="delete" value="delete" />
            </form>
        </article>
        <article class="editor-boxes" id="edit-tab">
            <h1 id="heading-tab"></h1>
            <form id="edit" method="post">
                {% for item in items %} 
                <div>
                    <input type="hidden" name="items_to_update" value="{{ item['id'] }},{{ item['code'] }},{{ item['category'] }},{{ item['dish'] }},{{ item['price'] }}">
                    <label for="category">Menu Title</label>
                    <input name="category" id="category" value="{{ item['category'] }}" />
                    <label for="code">Code</label>
                    <input name="code" id="code" value="{{ item['code'] }}" />
                    <label for="dish">Name</label>
                    <input name="dish" id="dish" value="{{ item['dish'] }}" />
                    <label for="price">Price</label>
                    <input name="price" id="price" value="{{ item['price'] }}" />
                </div>
                {% endfor %}
            <input type="submit" name="save" value="save" />
            </form>
        </article>
        
        <script>
            const add_item = document.getElementById('add_item');
            const container = document.getElementById('item_container');

            function addItem() {
                let input = document.createElement('input');
                input.placeholder = 'Test';
                container.appendChild(input);
            }

            add_item.addEventListener("click", addItem);
        </script>

    </main>

</div>
</div>

{% endblock %}