{% extends 'base.html' %}

{% block content %}


    
    <main class="editor-menu">

            <nav id='buttons'> 
                <p id='btn1' class="tab tab-active">Create</p>
                <p id='btn2' class="tab">Delete</p> 
                <p id='btn3' class="tab">Edit</p> 
            </nav>
            
        <article class="editor" id="create-tab">
            <h1 id="heading-tab"></h1>
            <form id="create" method="post">
                <fieldset id="new_or_existing">
                    <legend>New or Existing Category?</legend>
                    <label for="new_category_toggle">New</label>
                    <input type="checkbox" name="new_category_toggle" class="toggle" id="new_category_toggle" checked>
                    <br/>
                    <label for="existing_category_toggle">Existing</label>
                    <input type="checkbox" name="existing_category_toggle" class="toggle" id="existing_category_toggle" />
                </fieldset>                
                <label for="category" id="category_label">Menu Title</label>
                <input name="category" id="category" />
                <select name="existing_category" id="existing_category">
                    {% for menu in menus %}
                    <option value="{{ menu['category'] }}">{{ menu['category'] }}</option>
                    {% endfor %}
                </select>
                <label for="special">Specials Menu?</label>
                <input type="checkbox" name="special">
                <label for="code">Code</label>
                <input name="code" required />
                <label for="dish">Name</label>
                <input name="dish" required />
                <label for="price">Price</label>
                <input name="price" required />
                <label for="spicy">Spicy?</label>
                <input type="checkbox" name="spicy"/>
                </fieldset>                
                <div id="item_container">
                </div>
                <input type="submit" name="create_item" value="Save" />
            </form>
            
            <button id="add_item">Add Menu Item</button>
            
            <form id="import_csv" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept=".csv">
                <input type="submit" name="import_csv" value="Import CSV">
            </form>

        </article>

        <article class="editor" id="delete-tab">
            <h1 id="heading-tab"></h1>
            <form id="delete" method="post">
                {% for item in items %} 
                    {% for menu in menus %}
                        {% if item['category'] == menu['category'] %}
                        <input type="checkbox" name="items_to_delete" value="{{ item['id'] }}">
                        <p> {{ item['code'] }} | {{ item['dish'] }} | {{ item['price'] }}</p>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <input type="submit" name="delete_items" value="Delete" />
            </form>
        </article>

        <article class="editor" id="edit-tab">
            <h1 id="heading-tab"></h1>
            <form id="edit" method="post">
                {% for item in items %} 
                    <input type="hidden" name="items_to_update" value="{{ item['id'] }},{{ item['code'] }},{{ item['category'] }},{{ item['dish'] }},{{ item['price'] }}">
                    <label for="category">Menu Title</label>
                    <input name="category" id="category" value="{{ item['category'] }}" />
                    <label for="code">Code</label>
                    <input name="code" id="code" value="{{ item['code'] }}" />
                    <label for="dish">Name</label>
                    <input name="dish" id="dish" value="{{ item['dish'] }}" />
                    <label for="price">Price</label>
                    <input name="price" id="price" value="{{ item['price'] }}" />
                {% endfor %}
            <input type="submit" name="edit_items" value="Save" />
            </form>
        </article>
        

    </main>


        <script
        src="{{ url_for('static', filename='scripts/editor.js') }}"
        type="module">
        </script>

{% endblock %}