{% extends 'base.html' %}

{% block content %}
<header id="header">

        <div id="mast">
            <h1><img id="logo"
            src="static/greatwall.svg"
            alt="Great Wall"/>
            </h1>
            <h2>Cantonese & Szechuan Cuisine</h2>
            <p><img src="static/greatwall.png"></img></p>
        </div>
    
        <div id="address">
            <p>EAT IN OR TAKE OUT</p>
            <p>FOR ORDERS TO GO</p>
            <p>5 Central Street,</p>
            <p>Baldwinville, MA 01436</p>
        </div>
    
        <div id="call">
            <p id="please-call">PLEASE CALL</p>
            <p>Tel.: <a href="tel:9789398600">(978) 939-8600</a></p>
            <p><a href="tel:9789398200">(978) 939-8200</a></p>
        </div>
    
        <div id="party">
            <p>Party & Catering welcome!</p>
        </div>
    
        <div id="hours">
            <p>OPEN HOURS</p>
            <p>Mon - Thu 11 AM-9:30 PM</p>
            <p>Fri - Sat 11 AM-10 PM</p>
            <p>Sun 11 AM-9:30 PM</p>
        </div>

</header>


<main class="menu">
    {% set categories_with_items = [] %}
    {% for menu in menus %}
        {% for item in items %}
            {% if menu['category'] == item['category'] %}
                {% set categories_with_items = categories_with_items.append(menu['category']) %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    {% for menu in menus %}
        {% if menu['category'] in categories_with_items %}
            <div class="{{ 'special cards' if menu.special else 'cards'}}">
                <h2>{{ menu['category'] }}</h2>
                {% for item in items %}
                    {% if menu['category'] == item['category'] %}   
                        <article class="items">
                            <p class="code">{{ item['code'] }}</p>
                            <p class="dish">{{ item['dish'] }}</p>
                            <p class="price">{{ item['price'] }}</p>
                        </article>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
</main>

{% if g.user %}
<p id="manager-link"><a href="{{ url_for('admin.create') }}">Menu Manager</a></p>
{% endif %}

<script
src="{{ url_for('static', filename='scripts/cards.js') }}"
type="module">
</script>

{% endblock %}